fastapi
uvicorn
werkzeug
sqlalchemy
asyncpg
python-dotenv
gunicorn==21.2.0
img2table
openpyxl
pyjwt
pydantic[email]
bcrypt
pandas
numpy==1.26.4
huggingface_hub
opencv-python-headless
googletrans
python-multipart
redis
celery[redis]
AsyncDDGS

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
torchvision==0.17.2+cpu
